{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"indent": [2, "tab"],
		"no-tabs": 0,
		"comma-dangle": ["error", "never"],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/no-deprecated": 0
	},
	"env": {
		"browser": true,
		"jest": true
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["./src/"]
			}
		},
		"react": {
			"pragma": "Reasciit"
		}
	}
}